@keyframes fadeInOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.recommend-container{
  width: 100%;
  background-size: 6000px;
  background-position: center center;
  animation: fadeInOut 1s;
}
.hot-recommend-item-play{
  color:#cccccc;
  position:absolute;
  left:25px;
  top:108px;
  width:135.25px;
  height:27px;
  background-color:  rgba(0, 0, 0, 0.5);
  border-top: 1px solid #413f3f;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.icon-play{
  position:absolute;
  left:108px;
  cursor:pointer;
  top:3px;
}
.hot-recommend-item-name{
  position:absolute;
  left:25px;
  top:140px;
  text-decoration: none;
  color:#000000;
  margin-bottom: 10px;
  width:123.25px;
}
.hot-recommend-item-name:hover{
  color:#000000
}
.ant-card-body{
  padding: 0!important;
}
.artist-list{
  padding:15px;
  .more-link{
    color:#666666;
    text-decoration: none;
    font-size: 12px;
  }
  .more-link:hover{
    text-decoration: underline;
  }
  .artist-item{
    width:217px;
    height:62px;
    margin-top:20px;
    border:1px solid #e8e8e8;
    background: #fcfbfb;
    cursor: pointer;
    display: flex;
    .artist-info{
      padding:10px;
    }
  }
  .artist-item:hover{
    background: #efefef;
  }
}


