.player-bar{
  position:fixed;
  z-index:9999;
  left:0;
  bottom:0;
  height:52px;
  right:0;
  background: url("https://s2.music.126.net/style/web2/img/frame/playbar.png?eb8553335668c0b7054087dd593fc8d1") repeat 0 0;
  .content{
    width:1050px;
    margin:0 auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height:47px;
    .left{
      display: flex;
      align-items: center;
       .prev{
         width: 28px;
         height: 28px;
         display: block;
         color:transparent;
         cursor: pointer;
         background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?eb8553335668c0b7054087dd593fc8d1') no-repeat 0 -130px;
       }
       .prev:hover{
         background-position: -30px -130px;
       }
       .play{
         width: 36px;
         height: 36px;
         display: block;
         color:transparent;
         cursor: pointer;
         margin-left: 7px;
         background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?eb8553335668c0b7054087dd593fc8d1') no-repeat 0 -204px;
       }
       .play:hover{
         background-position: -40px -204px;
       }
       .pause{
         width: 36px;
         height: 36px;
         display: block;
         color:transparent;
         cursor: pointer;
         margin-left: 7px;
         background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?eb8553335668c0b7054087dd593fc8d1') no-repeat 0 -165px;
       }
       .pause:hover{
         background-position: -40px -165px;
       }
       .next{
         margin-left: 7px;
         width: 28px;
         height: 28px;
         display: block;
         color:transparent;
         cursor: pointer;
         background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?eb8553335668c0b7054087dd593fc8d1') no-repeat -80px -130px;
       }
       .next:hover{
         background-position: -110px -130px;
       }
    }
    .center{
      display: flex;
      margin-left: 25px;
      .base{
        .info{
          margin-left: 15px;
          display: flex;
          .title{
            font-size: 12px;
            color:#e8e8e8;
            font-weight: bold;
            cursor: pointer;
          }
          .artist{
            margin-left: 15px;
            font-size: 12px;
            color:#9b9b9b;
            cursor: pointer;
          }
          .link{
            color:transparent;
            cursor: pointer;
            margin-left: 15px;
            width:14px;
            height:15px;
            background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?a71bbf58c1dc3cc1018152e7f9df91b6') no-repeat -110px -103px;
          }
          .link:hover{
            background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?a71bbf58c1dc3cc1018152e7f9df91b6') no-repeat -130px -103px;
          }
        }
        .process{
          width:500px;
          .ant-slider{
            margin: 5px 0 0 15px;
          }
          .time{
            position: absolute;
            top: 26px;
            left: 64%;
            color:#797979;
            font-size: 12px;
          }
        }
        .icons{
          position: absolute;
          top:10px;
          .icon_1{
            position: absolute;
            width:25px;
            left:610px;
            height:25px;
            display: block;
            color:transparent;
            cursor: pointer;
            text-indent: -9999px;
            background: url('https://p1.music.126.net/DLVi_1eymwAX8gDunfd2bg==/109951165524394991.png') no-repeat 0 0;
          }
          .icon_1:hover{
            background-position-y: -25px;
          }
          .icon_2{
            position: absolute;
            left:635px;
            width:25px;
            height:25px;
            display: block;
            color:transparent;
            cursor: pointer;
            text-indent: -9999px;
            background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?a71bbf58c1dc3cc1018152e7f9df91b6') no-repeat -88px -163px;
          }
          .icon_2:hover{
            background-position-y: -189px;
          }
          .icon_3{
            position: absolute;
            left:660px;
            width:25px;
            height:25px;
            display: block;
            color:transparent;
            cursor: pointer;
            text-indent: -9999px;
            background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?a71bbf58c1dc3cc1018152e7f9df91b6') no-repeat -114px -163px;
          }
          .icon_3:hover{
            background-position-y: -189px;
          }
        }
      }
      .current{
        color:#a1a1a1;
      }
    }
    .right{
      margin-left: 200px;
      position:relative;
      .list{
        background: url('https://s2.music.126.net/style/web2/img/frame/playbar.png?ff1184ff22d47c35ea07fde65fba1e0a') -44px -68px;
        width:57px;
        display: block;
        height:25px;
        cursor: pointer;
      }
      .list:hover{
        background-position: -44px -98px;
      }
    }
  }
  .lyric{
    background-color:rgba(22,22,22);
    width:553px;
    height:260px;
    position:absolute;
    top:-254px;
    left:50%;
    transform: translateX(-50%);
    z-index:9999;
    border-radius:5px 5px 0 0;
    .header{
      border-radius:5px 5px 0 0;
      background-color: rgba(30,30,30);
      width: 100%;
      height: 40px;
      .del{
        background: url('https://s2.music.126.net/style/web2/img/frame/playlist.png?9b2cece0eeb2050bdf3dbe82fc08fb8c') -51px 0;
        width:13px;
        color:transparent;
        height:16px;
        margin-right: 20px;
        cursor: pointer;
        display: block;
      }
      .del:hover{
         background-position: -51px -20px;
      }
    }
    .lyric-content{
      height: 220px;
      overflow-y: auto;
      .lyric-list{
        .lyric-list-item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .lyric-list-item-left{
            display: flex;
            height: 28px;
            align-items: center;
            .lyric-list-icon{
              color:transparent;
              margin-left: 10px;
              margin-right: 7px;
              background: url("https://s2.music.126.net/style/web2/img/frame/playlist.png?9b2cece0eeb2050bdf3dbe82fc08fb8c") -182px 0;
              width:10px;
              height:13px;
            }

          }
          .lyric-list-item-right{
            .ar{
              width:80px;
              margin-right: 10px;
            }
            .time{
              width:45px;
              margin-right: 30px;
            }
          }
        }
        .lyric-list-item:hover{
          background-color: rgba(13,13,13);
          .lyric-list-text{
            color:#E2E2E2;
          }
        }
      }
    }
  }
  .lyric-list-text{
    font-size: 12px;
    color:#cccccc;
  }
}

