.ant-menu-item-selected {
    background-color: rgba(0, 0, 0) !important;
    /* 修改选中项的背景色 */
    color: #fff !important;
    /* 修改选中项的文字颜色 */
}
.ant-menu-item:hover{
    background-color: rgba(0, 0, 0) !important;
    color: #fff !important;
}
.ant-layout-header,.ant-menu{
    background-color: rgba(36,36,36)!important;
}
.ant-menu{
    width:27%!important;
}